#bio {
  background-color: black;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Hexagon_Tiling.svg');
  background-size: contain;
  padding-top: 6vw;
  padding-bottom: 6vw;
}


.one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.two {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.four {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

 .about-img {
  height: 22vw;
  width: 22vw;
  clip-path: polygon(50% 0%,
  100% 25%,
  100% 75%,
  50% 100%,
  0% 75%,
  0% 25%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(1px);
  /* -webkit-mask-image: radial-gradient(ellipse farthest-side at center , black,  transparent 200%  );
  mask-image: radial-gradient(ellipse farthest-side at center, black, transparent 100%) !important   */
} 





.name {
  margin-bottom: 24vw;
  font-family:monospace;
  font-size: 120px;
  font-weight: 800;
  color: #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #992509;
  text-shadow:
  0 0 5px #992509,
  0 0 10px #992509,
  0 0 15px #992509,
  0 0 20px #992509,
  0 0 25px #992509,
  0 0 30px #992509
  ;
}


.rounded{
  height: 60px !important;
  width: 60px!important;
  border-radius: 50%;
  z-index: 3;
  margin-top: 860px;


}
.parag {
  width: 23vw;
  font-family:monospace;
  font-size: 45px;
  font-weight: 800;
  color: #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f2b02a;
  text-shadow:
  0 0 5px #f2b02a,
  0 0 10px #f2b02a,
  0 0 15px #f2b02a,
  0 0 20px #f2b02a,
  0 0 25px #f2b02a,
  0 0 30px #f2b02a
  ;
 
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.pdc-tit {
  font-family:monospace;
  font-size: 140px;
  padding-top: 3vw;
  padding-right: 330px;
  font-weight: 800;
  color: #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #992509;
  text-shadow:
  0 0 5px #992509,
  0 0 10px #992509,
  0 0 15px #992509,
  0 0 20px #992509,
  0 0 25px #992509,
  0 0 30px #992509
  ;

  margin-right: 22vw;
}

.pdct {
  height: 15vw;
  width: 2100px;
  font-size: 69px;
  font-family:monospace;
  padding-top: 3vw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f2b02a;
  text-shadow:
  0 0 5px #f2b02a,
  0 0 10px #f2b02a,
  0 0 15px #f2b02a,
  0 0 20px #f2b02a,
  0 0 25px #f2b02a,
  0 0 30px #f2b02a
  ;

}

.back-to-top{
    position: fixed;
    bottom: 120px !important;
    right: 60px;
    background-color: #992509;
    color: white;
    font-size: 36px;
    padding: 10px 20px;
    cursor: pointer;
    height:300px;
    width: 300px;
    clip-path: polygon(50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%);
    -webkit-mask-image: radial-gradient(ellipse farthest-side at 50% 50% , black,  transparent 180% );

  }

.shadow3{
  filter: drop-shadow(18px 18px 18px rgba(242, 176, 42, 0.5));

}


