#footer {
  background-color: black;
  text-align: left;
  font-size: 50px;

}


#conc {
  background-color: #000000;
  padding-top: 12vw;
  padding-bottom: 3vw;
}

.person {
  height: 18vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.soc {
  padding-top: 3vw;
}
.TM{
  margin-left: 90px;
}