#footer {
  background-color: black;
  text-align: left;
  font-size: 25px;
  padding-bottom: 30px;
}

#conc {
  background-color: #010101;
  padding-bottom: 0.04px;
  padding-right: 30px;
}


.soc {
  padding-top: .5vw;
  margin-right: 93px;
}
.TM{
  margin-left: 90px;
  width: 100vw;
  overflow: hidden !important;
  font-size: 25px;
}