.logo {
  height: 4vw;
  width: 6vw;
}

#nav {
  background-color: black;
  font-size: 1.5vw;
  font-family:monospace;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-left: 160px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3vw;
  margin-right: 160px;
}

.NavItem {
  margin-left: 1vw;
}

#landing {
  background-color: black;
  display: flex;
  gap: 12%;
  justify-content: center;
  padding-top: 4vw;
}

.title {
  color: #fad615;
  font-size: 7vw;
  margin-top: 12vh;
}

.title2 {
  color: white;
  margin-left: 60%;
  margin-top: 3vh;
  font-size: 6vw;
}

.title-position {
  margin-left: 9%;
}

.pic-position {
  margin-top: -6vw;
  margin-right: 7vw;
}

.pic {
  height: 50vw;
  width: 50vw;
  max-width: 100%;
}