.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:130px;
  background-color: black;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Hexagon_Tiling.svg');
  background-size: contain;
}

.home-title h1{
  font-size: 210px;
  font-family:monospace;
  margin-right: 100px;
  margin-top: 45px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f2b02a;
  text-shadow:
  0 0 5px #f2b02a,
  0 0 10px #f2b02a,
  0 0 15px #f2b02a,
  0 0 20px #f2b02a,
  0 0 25px #f2b02a,
  0 0 30px #f2b02a
  ;
}
.flicker {
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
}

.home-sub h2{
  font-size: 60px;
  margin-left: 875px;
margin-top:-30px;
transform: rotate(-20deg);
font-family: 'Zapfino';
-webkit-text-stroke-color: #992509;
text-shadow:
0 0 5px #992509,
0 0 10px #992509,
0 0 15px #992509,
0 0 20px #992509,
0 0 25px #992509,
0 0 30px #992509
;
}
 .open-statement h3{
  font-size: 45px;
  font-family: monospace;
  margin:0 auto;
  padding-top: 425px;
  width:700px;
  -webkit-text-stroke-color: #f2b02a;
  text-shadow:
  0 0 5px #f2b02a,
  0 0 10px #f2b02a,
  0 0 15px #f2b02a,
  0 0 20px #f2b02a,
  0 0 25px #f2b02a,
  0 0 30px #f2b02a
  ;} 


.panels{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important; 
  margin-top: 3vw;
  margin-bottom: 3vw;
  color:#000000;
  gap:100px;
}



.panel{
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba( 242, 176, 42, 0.6);
  border-radius: 45px;
  padding: 25px;
  font-family: monospace;
}

.panel1-img{
  width: 200px;
  height: 200px;
}

.closing-statement h3{
  font-size: 45px;
  font-family: monospace;
  width:900px;
  text-align: left;
  margin-top: 345px;
  margin-right: 535px;
  -webkit-text-stroke-color: #f2b02a;
  text-shadow:
  0 0 5px #f2b02a,
  0 0 10px #f2b02a,
  0 0 15px #f2b02a,
  0 0 20px #f2b02a,
  0 0 25px #f2b02a,
  0 0 30px #f2b02a

}

.signup-button button{
  height: 100px;
  width: 450px;
  border-radius: 45px;
  border: 3px solid #992509; 
  box-shadow:  3px 3px 12px #992509;
  background:none;
  color: #ffffff;
  font-size:30px;
  margin-bottom: 200px;
  margin-top: -5px;
  margin-right: 320px;

}
