#login{
    background-color: #eebd43;
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dc9427;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .entr {
    color: #992509;
    font-family: 'Eczar SemiBold';
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: black;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color: #0645ad;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  