#form {
  background-color: #010101;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Hexagon_Tiling.svg');
  background-size: cover;  
  padding-top: 100px;
  padding-left: 14.5vw;
  padding-right: 15vw;
  display: flex;
  justify-content: space-between;
  height: 84vh;
}
.formstyle {
  width: 600px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #f2b02a;
  background-image: url(
    'https://static.vecteezy.com/system/resources/previews/009/384/181/original/bee-tree-hive-clipart-design-illustration-free-png.png'
    );
    background-size: cover;
  font-family: monospace;
  border-radius: 15px;
  /* clip-path: polygon(50% 0%,
  100% 25%,
  100% 75%,
  50% 100%,
  0% 75%,
  0% 25%); */

}

.formstyle .rs-input{
  width: 100%;
  height:40px;
  font-size: 15px;
}


.btnPos {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; 
  margin-left: 10px;
}

.btnPos button {
  padding: 6px 12px;
  font-size: 15px; 
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  font-family: monospace;
}

.custom-dropdown {
  position: absolute;
  font-size: 15px;
  font-family: monospace;
}

.custom-dropdown .rs-dropdown-toggle .rs-dropdown-toggle-value {
  padding-right: 40px;
}

.custom-dropdown .rs-dropdown-menu {
  overflow-y: auto;
  z-index: 2 !important;
  background-color: rgba(242, 176, 42, 0.7);
}

.custom-dropdown .rs-dropdown-menu .custom-dropdown-item {
  list-style-type: none;
  padding: 8px 16px;
  cursor: pointer;
}

.custom-dropdown .rs-dropdown-menu .custom-dropdown-item:hover {
  background-color: #992509;
  color: #ffffff;
}

.input-card {
  font-size: 23px;
  overflow: hidden !important;
  width: 600px;
  height: 700px;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  flex-direction: column;
  align-items: center;
  background-color: #f2b02a;
  border-radius: 15px;
  gap: 45px;
  background-color: #f2b02a;
  background-image: url('https://static.vecteezy.com/system/resources/previews/009/384/181/original/bee-tree-hive-clipart-design-illustration-free-png.png');
  background-size: cover;
  font-family: monospace;
  border-radius: 15px;
  filter: drop-shadow(9px 9px 9px rgba(255, 255, 255, 0.5));
}

.input-card-image-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px; 
  position: absolute;
}

.input-card-image {
height: 200px;
width: 200px;
  border-radius: 15px;
}

.input-card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 1000px;
  gap:30px;
  background-color: rgba(242, 176, 42, 0.7);
  border-radius: 15px;
  margin-top: 300px; 
}

.input-card-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-card-field {
  width: 100%;
  height: 55px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
