#form {
  background-color: #eebd43;
  padding-top: 9vw;
  padding-bottom: 9vw;
}

.formstyle {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.btnPos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding-top: 9vw;
}