#signup {
  background-color: #010101;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Hexagon_Tiling.svg');
  background-size: cover;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.join {
  color: #992509;
  font-family:monospace;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  margin-top: -20px;
}

.signup-container {
  max-width: 1100px;
  height: 1100px;
  margin: 0 auto;
  padding: 140px;
  background-color: #f2b02a;
  background-image: url(' https://www.pngmart.com/files/15/Yellow-Bee-Trail-Path-PNG.png ');
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 6px;
  padding-top: 60px;
  font-family: monospace;
}

label {
  display: block;
  font-weight: bold;
  font-size: 25px;
}

input[type="email"],
input[type="password"],
input[type="passsword_confirmation"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 15px;
  height: 60px;

}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.submit-btn {
  background-color: #992509;
  color: #000000;
  border: 1px solid #000000;

  border-radius: 15px;
  width: 600px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  margin: 0 auto;
  font-family: monospace;
}

.login-link {
  margin-top: 30px;
  text-align: center;
  font-size: 23px;
  font-family: monospace;
}

.login-link a {
  color: #992509;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

